<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yexca.mapper.EnterpriseUserMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into enterprise_user(username, password, enterprise_name, email, phone, country_id, status, evidence, create_by, create_from, create_time, update_by, update_from, update_time)
        VALUES (#{username}, #{password}, #{enterpriseName}, #{email}, #{phone}, #{countryId},#{status}, #{evidence}, #{createBy}, #{createFrom}, #{createTime}, #{updateBy}, #{updateFrom}, #{updateTime})
    </insert>
    <update id="update">
        update enterprise_user
        <set>
            <if test="username != null">username = #{username}, </if>
            <if test="password != null">password = #{password}, </if>
            <if test="enterpriseName != null">enterprise_name = #{enterpriseName}, </if>
            <if test="email != null">email = #{email}, </if>
            <if test="phone != null">phone = #{phone}, </if>
            <if test="countryId != null">country_id = #{countryId}, </if>
            <if test="status != null">status = #{status}, </if>
            <if test="evidence != null">evidence = #{evidence}, </if>
            <if test="updateBy != null">update_by = #{updateBy}, </if>
            <if test="updateFrom != null">update_from = #{updateFrom}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
        </set>
        where user_id = #{userId}
    </update>

    <select id="pageQuery" resultType="com.yexca.entity.EnterpriseUser">
        select * from enterprise_user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="enterpriseName != null and enterpriseName != ''">
                and enterprise_name like concat('%', #{enterpriseName}, '%')
            </if>
            <if test="email != null">
                and email like concat('%', #{email}, '%')
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="countryId != null">
                and country_id = #{countryId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
